.swiper-image {
   width: calc(91vw - 6px);
   height: calc(26vw - 3px);
   cursor: pointer;
   object-fit: cover;
}
.pagination-container {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
