.wrapper {
   width: 100%;
   height: 100px;
   background-color: #f2f6fc;
   position: sticky;
   top: 0;
   z-index: 10;
   transition: background-color 0.3s ease;
}
.scrolled {
   background-color: #d5e2f7; /* Đổi màu sắc khi phần tử cuộn */
}

.header__navbar {
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 24px 20px;
   height: 100px;
   margin: auto;
}

.header__navbar-list {
   list-style-type: none;
   padding-left: 0;
   margin: -4px;
   font-size: 0;
   display: flex;
}

.header__navbar-item {
   padding: 0 15px;
}

.header__navbar-item-link {
   text-decoration: none;
   color: #000000de;
   font-weight: 700;
}

.header__navbar-item-link:hover {
   color: #e10422;
}
.header__navbar-item-link:active {
   color: #e10422;
}
.active-class {
   color: #e10422;
}
.header__navbar-item,
.header__navbar-link {
   display: inline-flex;
   font-size: 1.4rem;
   align-items: center;
}

.header__navbar-logo-img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

.header__navbar-slogan {
   margin-left: 20px;
   font-weight: 700;
   animation: change-color 5s infinite;
}

.header__member {
   position: absolute;
   top: 78px;
   left: 44.754vw;
   background-color: #fff;
   height: 250px;
   width: 252px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   display: none;
   animation: fadeIn ease-in 0.3s;
   box-shadow: 0 2px 8px #ccc;
   z-index: 5;
}
.header__member::after {
   content: '';
   display: block;
   position: absolute;
   top: -23px; /* Đặt giá trị này để phần tử nằm trên đỉnh của .header__member */
   right: 80px;
   width: 80px;
   height: 40px;
}

.header__member-list {
   width: 100%;
   height: 220px;
   list-style: none;
   padding: 0px 0px 0px 10px;
   overflow-y: scroll;
   margin: 10px -10px 10px -10px;
}
.header__navbar-item--has-list:hover .header__member {
   display: block;
}

.header__member-item {
   padding: 5px 0;
}
.header__member-item-name {
   text-decoration: none;
   color: rgb(28, 57, 103);
   background-color: rgba(0, 0, 0, 0);
   line-height: 20px;
   vertical-align: baseline;
   letter-spacing: normal;
   margin: 0px;
   padding-left: 10px;
   font-weight: 700;
   text-align: left;
   font-size: 13px;
   /* text-decoration: none solid rgb(28, 57, 103); */
}
.header__member-item-name:hover {
   text-decoration: underline;
}
.header__member-item:hover {
   background-color: #f2f2f2;
   cursor: pointer;
}
@keyframes change-color {
   0% {
      color: #ff0000;
   }

   50% {
      color: #ffa500;
   }

   100% {
      color: #ff0000;
   }
}

@keyframes ripple {
   from {
      opacity: 1;
      transform: scale(0);
   }

   to {
      opacity: 0;
      transform: scale(10);
   }
}
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.navbar-responsive-list {
   display: none;
}
//Mobile header
.header__navbar-bars {
   width: 40px;
   height: 40px;
   color: rgb(211, 47, 47);
   border-radius: 50%;
   padding: 8px;
   cursor: pointer;
   display: none;
}
.header__navbar-bars:active {
   background-color: rgba(211, 47, 47, 0.1);
}
@media (max-width: 739px) {
   .header__navbar-slogan {
      display: none;
   }
   .header__navbar-bars {
      display: block;
      position: absolute;
      right: 0px;
   }

   .header__navbar-item-link,
   .header__navbar-home-page {
      display: none; /* Ẩn các phần tử tương ứng */
      visibility: hidden;
   }
   .wrapper {
      max-height: 46px;
   }
   .header__navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      width: 100%;
      height: 49px;
      background-color: #f7f7f3;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
         rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
   }
   .header__navbar-logo-img {
      width: 45px;
      height: 45px;
   }
   .navbar-responsive-list {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out; /* Thay đổi giá trị thời gian và chuyển động tại đây */
      position: absolute;
      top: 49px;
      left: 0;
      right: 0;
      width: 100%;
      height: 220px;
      background-color: #fff;
      margin: 0;
      padding: 0;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0px 10px 10px -10px;
   }
   .navbar-responsive-list--open {
      max-height: 500px; /* Giá trị tối đa của max-height, có thể điều chỉnh tùy theo nội dung */
      top: 49px;
      transition: max-height 0.8s ease-out;
      /* Các thuộc tính CSS khác cho navbar-responsive-list khi nó được mở */
   }
   .navbar-responsive-item:first-child {
      margin-top: 15px;
   }
   .navbar-responsive-item:last-child {
      width: 40px;
   }
   .navbar-responsive-item {
      padding: 2px 10px;
   }
   .navbar-responsive-item-link {
      text-decoration: none;
      color: #1c3967;
      font-weight: 700;
      font-size: 12.5px;
      text-transform: uppercase;
   }
   .active-class {
      color: #e10422;
   }
}
@media (min-width: 740px) and (max-width: 1023px) {
   .header__navbar-slogan {
      display: none;
   }
   .header__navbar-bars {
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      right: 0px;
   }

   .header__navbar-item-link,
   .header__navbar-home-page {
      display: none; /* Ẩn các phần tử tương ứng */
      visibility: hidden;
   }
   .wrapper {
      max-height: 46px;
   }
   .header__navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      width: 100%;
      height: 64px;
      background-color: #f7f7f3;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
         rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
   }
   .header__navbar-logo-img {
      width: 50px;
      height: 50px;
   }
   .navbar-responsive-list {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out; /* Thay đổi giá trị thời gian và chuyển động tại đây */
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      width: 100%;
      height: 290px;
      background-color: #fff;
      margin: 0;
      padding: 0;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0px 10px 10px -10px;
   }
   .navbar-responsive-list--open {
      max-height: 500px; /* Giá trị tối đa của max-height, có thể điều chỉnh tùy theo nội dung */
      top: 64px;
      transition: max-height 0.8s ease-out;
      /* Các thuộc tính CSS khác cho navbar-responsive-list khi nó được mở */
   }
   .navbar-responsive-item:first-child {
      margin-top: 15px;
   }
   .navbar-responsive-item:last-child {
      width: 40px;
   }
   .navbar-responsive-item {
      padding: 7px 13px;
   }
   .navbar-responsive-item-link {
      text-decoration: none;
      color: #1c3967;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
   }
   .active-class {
      color: #e10422;
   }
}
@media (min-width: 1024px) and (max-width: 1124px) {
   .header__navbar-item {
      padding: 0 calc(1vw - 1px);
   }
}
@media (min-width: 1400px) and (max-width: 1500px) {
   .header__member {
      position: absolute;
      top: 78px;
      left: calc(44.4vw - 50px);
   }
}
@media (min-width: 1300px) and (max-width: 1399px) {
   .header__member {
      position: absolute;
      top: 78px;
      left: calc(43.754vw - 60px);
   }
}
@media (min-width: 1200px) and (max-width: 1299px) {
   .header__member {
      position: absolute;
      top: 78px;
      left: calc(44.754vw - 100px);
   }
}
@media (min-width: 1100px) and (max-width: 1199px) {
   .header__member {
      position: absolute;
      top: 78px;
      left: calc(48.754vw - 130px);
   }
}
@media (min-width: 1024px) and (max-width: 1099px) {
   .header__member {
      position: absolute;
      top: 78px;
      left: calc(46.754vw - 110px);
   }
}
